@import './variable';
@import './break-points';
@import "../node_modules/react-datepicker/dist/react-datepicker.css";

.mb-4p {
    margin-bottom: 4px;
}

.mb-12p {
    margin-bottom: 12px;
}

.m-16p {
    margin: 16px;
}

.mb-24p {
    margin-bottom: 24px;
}

.mb-32p {
    margin-bottom: 32px;

    @include bp(lg-max) {
        margin-bottom: 24px;
    }
}

.mb-56p {
    margin-bottom: 56px;

    @include bp(lg-max) {
        margin-bottom: 24px;
    }

    @include bp(xs-max) {
        margin-bottom: 16px;
    }
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms cubic-bezier(0.25, 0.8, 0.25, 1);
    display: flex;
    align-items: center;
    justify-content: center;

    &.rounded {
        --bs-btn-border-radius: 50%;
    }

    &.btn-icon {
        position: relative;
        width: 48px;
        height: 48px;
        padding: 6px;
        --bs-btn-padding-x: 6px;
        --bs-btn-padding-y: 6px;
        @extend .rounded;

        img {
            width: 20px;
            height: 20px;
        }

        &.btn-text {
            &::before {
                content: "";
                position: absolute;
                top: 50%;
                bottom: 50%;
                left: 50%;
                right: 50%;
                border-radius: 50%;
                background: rgba($color: $White, $alpha: 0.15);
                transform-origin: center;
                transition: all 200ms ease-in-out;
            }

            &:hover,
            &:focus {
                &::before {
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }

        &.size-lg {
            width: 56px;
            height: 56px;
            --bs-btn-padding-x: 8px;
            --bs-btn-padding-y: 8px;

            img {
                width: 24px;
                height: 24px;
            }
        }

        &.size-sm {
            width: 40px;
            height: 40px;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    &.btn-text {
        color: $Neutral50;
    }

    &.size-lg {
        min-height: 56px;
        font-size: 16px;
        line-height: 20px;
        border-radius: 2px;
        padding: 16px 24px;
        min-width: 150px;

        @include bp(lg-max) {
            min-width: auto;
        }
    }

    &.btn-light {
        --bs-btn-color: #00665E;
        --bs-btn-bg: #FFFFFF;
        --bs-btn-border-color: #FFFFFF;
        --bs-btn-hover-color: #FFFFFF;
        --bs-btn-hover-bg: #00665e;
        --bs-btn-hover-border-color: #00665e;
        --bs-btn-focus-shadow-rgb: 211, 212, 213;
        --bs-btn-active-color: #FFFFFF;
        --bs-btn-active-bg: #00665e;
        --bs-btn-active-border-color: #00665e;
        --bs-btn-active-shadow: 0px 1px 4px 0px #00403A1A, 0px -1px 0px 0px #00403A1A inset;
        --bs-btn-disabled-color: #000000;
        --bs-btn-disabled-bg: #f8f9fa;
        --bs-btn-disabled-border-color: #f8f9fa;

        &:hover,
        &:focus {
            .ic {
                filter: brightness(0) invert(1);
            }
        }
    }

    &.btn-primary {
        --bs-btn-color: #FFFFFF;
        --bs-btn-bg: #00665E;
        --bs-btn-border-color: #00665E;
        --bs-btn-hover-color: #fff;
        --bs-btn-hover-bg: #015750;
        --bs-btn-hover-border-color: #00665e;
        --bs-btn-focus-shadow-rgb: 49, 132, 253;
        --bs-btn-active-color: #fff;
        --bs-btn-active-bg: #00665e;
        --bs-btn-active-border-color: #00665e;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #fff;
        --bs-btn-disabled-bg: #00665eab;
        --bs-btn-disabled-border-color: #00665eab;
    }

    &.btn-secondary {
        --bs-btn-color: #00665E;
        --bs-btn-bg: #EEF0F0;
        --bs-btn-border-color: #EEF0F0;
        --bs-btn-hover-color: #00665E;
        --bs-btn-hover-bg: #00665e45;
        --bs-btn-hover-border-color: #00665e45;
        --bs-btn-focus-shadow-rgb: 130, 138, 145;
        --bs-btn-active-color: #00665E;
        --bs-btn-active-bg: #00665e45;
        --bs-btn-active-border-color: #00665e45;
        --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
        --bs-btn-disabled-color: #00665E;
        --bs-btn-disabled-bg: #EEF0F0;
        --bs-btn-disabled-border-color: #EEF0F0;
    }

    &.btn-mid-transparent {
        box-shadow: 0px 1px 3px 0px rgba(18, 18, 18, 0.2), 0px -1px 0px 0px rgba(18, 18, 18, 0.08) inset, 0px 1px 0.5px 0px rgba(255, 255, 255, 0.12) inset;
        backdrop-filter: blur(70px);
        background-color: rgba(255, 255, 255, 0.15);
        color: $White;
        border: none;

        &:hover,
        &:focus,
        &:active {
            color: #fff;
            background-color: rgba(255, 255, 255, 0.2);
        }
    }

    .ic {
        display: flex;

        &.right {
            margin-left: 4px;
        }

        &.left {
            margin-right: 4px;
        }
    }
}

// Dropdown
.dropdown {
    .dropdown-toggle {
        &::after {
            margin-left: 8px;
            vertical-align: -3px;
            width: 12px;
            height: 12px;
            background: url('./../public/images/icons/ic-chevron-up-lg-grey.svg') no-repeat center center;
            background-size: 12px;
            transition: transform 200ms ease-in-out;
            border: 0;
        }

        &[aria-expanded="true"]::after {
            transform: rotate(180deg);
        }
    }

    .dropdown-menu {
        --bs-dropdown-min-width: 100px;
        --bs-dropdown-padding-x: 12px;
        --bs-dropdown-padding-y: 12px;
        --bs-dropdown-spacer: 4px;
        --bs-dropdown-font-size: 14px;
        --bs-dropdown-color: #1a1c1e;
        --bs-dropdown-bg: #ffffff;
        --bs-dropdown-border-color: #e4e9ee;
        --bs-dropdown-border-radius: 8px;
        --bs-dropdown-border-width: 1px;
        --bs-dropdown-divider-bg: #dce4e8;
        --bs-dropdown-divider-margin-y: 4px;
        --bs-dropdown-box-shadow: 0px 4px 70px 0px #818b9c33;
        --bs-dropdown-item-padding-x: 8px;
        --bs-dropdown-item-padding-y: 8px;

        .dropdown-item {
            border-radius: 4px;
            display: flex;
            align-items: center;
            gap: 12px;
            margin-inline: calc(-1 * var(--bs-dropdown-item-padding-x));
            width: calc(100% + 2 * var(--bs-dropdown-item-padding-x));
            --bs-dropdown-link-color: #1a1c1e;
            --bs-dropdown-link-hover-color: #1a1c1e;
            --bs-dropdown-link-hover-bg: rgba(5, 192, 192, 0.09);
            --bs-dropdown-link-active-color: #1a1c1e;
            --bs-dropdown-link-active-bg: rgba(5, 192, 192, 0.2);

            &:focus,
            &:hover {
                background: rgba($color: $Primary50, $alpha: 0.1);
            }
        }
    }

    &.country-dropdown {
        .dropdown-toggle {
            border: 0 !important;

            &:hover,
            &.show {
                color: rgba($color: $White, $alpha: 0.72);
            }
        }
    }
}

// Inline Level
.inline-level {
    display: inline-flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

// Radio + Checkbox
.form-check {
    min-height: 24px;
    padding-left: 24px;
    margin-bottom: 0;

    .form-check-input {
        margin-top: 0;
        margin-left: -24px;
        cursor: pointer;

        transition: all 200ms ease-in-out;

        &[type="checkbox"] {
            border: 1.5px solid $Neutral20;
            border-radius: 6px;
            width: 24px;
            height: 24px;

            &:checked {
                border: 0;
                background-color: $White;
                // --bs-form-check-bg-image: url("./../images/checkbox-checked.svg");
            }
        }

        &[type="radio"] {
            border-radius: 50%;
            width: 24px;
            height: 24px;
            border: 1.5px solid $Neutral20;
            // box-shadow: 0px -1px 1px 0px rgba(18, 18, 18, 0.3) inset, 0px 1px 3px 0px rgba(18, 18, 18, 0.1);

            &:checked {
                border: 0;
                background-color: var(--black-15, #00000026);
                background: url('./../public/images/icons/ic-radio-checked-primary.svg') no-repeat center;
                background-size: 24px;
                // --bs-form-check-bg-image: url("./../public/images/icons/ic-radio-checked-white.svg");
            }
        }

        &:focus {
            box-shadow: 0 0 0 0.25rem rgba(0, 98, 98, 0.16);
        }

        &:hover,
        &:focus {
            border-color: $Primary50;
        }

        &:active {
            filter: none;
        }
    }

    .form-check-label {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding-left: 10px;
        // color: $input-placeholder;
        cursor: pointer;
    }

    &.dark {
        .form-check-input {
            &[type="radio"] {
                border-radius: 50%;
                width: 24px;
                height: 24px;
                background: rgba($color: $Black, $alpha: 0.15);
                border: 1.5px solid rgba($color: $White, $alpha: 0.5);

                &:checked {
                    border: 0;
                    background-color: #00000026;
                    background: url('./../public/images/icons/ic-radio-checked-white.svg') no-repeat center;
                    background-size: 24px;
                }
            }

            &:focus {
                box-shadow: 0 0 0 0.25rem rgba(5, 192, 192, 0.16);
            }

            &:hover,
            &:focus {
                border-color: $Primary50;
            }

            &:active {
                filter: none;
            }
        }
    }



    // &.form-switch {
    //     .form-check-input {
    //         background-image: url("../images/switch-unchecked-icon.svg");
    //         background-size: 22px;
    //         background-position: left 3px center;

    //         &:focus {
    //             background-image: url("../images/switch-unchecked-focus-icon.svg");
    //         }

    //         &[type="checkbox"] {
    //             height: 28px;
    //             width: 45px;
    //             border-radius: 50px;
    //             border-color: $border-color;

    //             &:checked {
    //                 background-color: $primary;
    //                 background-position: right 3px center;
    //                 background-image: url("../images/switch-checked-white-icon.svg");
    //             }
    //         }
    //     }
    // }
}

// React Custom Select
.react-custom-select {
    min-height: 56px;

    >div {
        &:not([class*="-menu"]) {
            border: 1.5px solid #E2E4E4;
            background: #EEF0F080;
            border-radius: 2px;
            height: 100%;
            min-height: inherit;
            box-shadow: none;
            cursor: pointer;

            &:hover,
            &:focus {
                border-color: $Primary50;
            }

            >div {
                &:first-child {
                    >div {
                        &:first-child {
                            margin: 0 8px;
                            color: $Neutral100;
                        }
                    }
                }

                &:last-child {
                    >span {
                        display: none;
                    }

                    >div {
                        position: relative;
                        right: 12px;
                        padding: 0;

                        svg {
                            height: 24px;
                            width: 24px;
                            background: url("../public/images/icons/ic-chevron-down-grey.svg") no-repeat center;
                            background-size: 24px;

                            path {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    [class*="-menu"] {
        box-shadow: 0px 4px 6px -2px rgba($color: $Black, $alpha: 0.03),
            0px 12px 16px -4px rgba($color: $Black, $alpha: 0.08);
        border-radius: 2px;
        border: 1px solid #F2F4F7;
        margin: 0;
        z-index: 3;

        [class*="-option"] {
            min-height: 44px;
            display: flex;
            align-items: center;
            padding: 8px 16px;
            background: none;
            color: $Neutral100;

            &[aria-selected="true"] {
                background-color: $Primary50;
            }

            &:hover {
                background-color: rgba($color: $Primary50, $alpha: 0.12) !important;
                color: $Primary50 !important;
            }

            &[aria-selected="true"] {
                background-color: rgba($color: $Primary50, $alpha: 0.2) !important;
                color: $Primary50 !important;
            }

            @media (hover: none) {
                &:hover {
                    // background-color: rgba($color: $primary, $alpha: 0.12);
                    background-color: $Primary50 !important;
                    color: $White !important;
                }

            }

            &:focus,
            &:active {
                background-color: $Primary50 !important;
                color: $White !important;
            }
        }
    }

    &.dark {
        >div {
            &:not([class*="-menu"]) {
                border: 1.5px solid var(--white-25, rgba(255, 255, 255, 0.25));
                background: var(--black-15, rgba(0, 0, 0, 0.15));

                &:hover,
                &:focus {
                    border-color: $Primary50;
                }

                >div {
                    &:first-child {
                        >div {
                            &:first-child {
                                color: $White;
                            }
                        }
                    }

                    &:last-child {
                        >div {
                            svg {
                                background: url("../public/images/icons/ic-chevron-down-white.svg") no-repeat center;
                                background-size: 24px;
                            }
                        }
                    }
                }
            }
        }
    }

}

// Offcanvas Backdrop
.offcanvas-backdrop {
    opacity: 1;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);

    &.show {
        opacity: 1;
    }
}

// Offcanvas
.offcanvas {
    --bs-offcanvas-padding-x: 0;
    --bs-offcanvas-padding-y: 0;
    --bs-offcanvas-color: #121212;
    --bs-offcanvas-bg: #FFFFFF;
    --bs-offcanvas-border-width: 0;
    --bs-offcanvas-transition: transform 300ms cubic-bezier(.47, 0, .745, .715);

    .canvas-close {
        position: absolute;
        top: 54px;
        left: -114px;
        width: 60px;
        height: 60px;
        background: rgba($color: $White, $alpha: 0.5);
        border: 0;

        @include bp(xl-max) {
            left: 50%;
            top: -70px;
            transform: translate(-50%, 0);
        }

        @include bp(md-max) {
            width: 30px;
            height: 30px;
            top: -45px;
        }

        &:hover,
        &:focus {
            background: rgba($color: $White, $alpha: 0.35);
        }

        img {
            width: 38px;
            height: 38px;

            @include bp(md-max) {
                width: 18px;
                height: 48px;
            }
        }
    }

    &.offcanvas-end {
        --bs-offcanvas-width: calc(100% - 168px);

        .specs-wrapper {
            padding: 66px;

            @include bp(xxl-max) {
                padding: 50px;
            }

            .specs-title {
                @extend .am;
                font-size: 60px;
                line-height: 82px;
                letter-spacing: -0.01em;
                margin-bottom: 32px;

                @include bp(xxl-max) {
                    font-size: 48px;
                    line-height: 60px;
                }
            }
        }
    }

    &.offcanvas-bottom {
        --bs-offcanvas-height: calc(100dvh - 80px);

        @include bp(md-max) {
            --bs-offcanvas-height: calc(100dvh - 60px);
        }

        .specs-wrapper {
            @include bp(xl-max) {
                padding: 40px;
            }

            @include bp(md-max) {
                padding: 24px 16px;
            }

            .specs-title {
                @extend .am;
                letter-spacing: -0.01em;

                @include bp(xxl-max) {
                    font-size: 40px;
                    line-height: 54px;
                    margin-bottom: 24px;
                }

                @include bp(md-max) {
                    font-size: 36px;
                    line-height: 44px;
                }
            }
        }
    }

    ::-webkit-scrollbar {
        width: 4px !important;
        height: 4px !important;
        background: #FFFFFF;
    }

    ::-webkit-scrollbar-thumb {
        border: 0 !important;
        background-color: rgba(0, 0, 0, 0.1) !important;
        border-radius: 12px !important;
    }
}

// Accordion
.accordion {
    &.specs {
        --bs-accordion-color: #121212;
        --bs-accordion-bg: #FFFFFF;
        --bs-accordion-border-color: #E2E4E4;
        --bs-accordion-border-width: 1px;
        --bs-accordion-border-radius: 0;
        --bs-accordion-inner-border-radius: 0;
        --bs-accordion-btn-padding-x: 0;
        --bs-accordion-btn-padding-y: 0;
        --bs-accordion-btn-color: var(--bs-body-color);
        --bs-accordion-btn-bg: var(--bs-accordion-bg);
        --bs-accordion-btn-icon: url('../public/images/icons/ic-chevron-down-lg-black.svg');
        --bs-accordion-btn-icon-width: 24px;
        --bs-accordion-btn-icon-transform: rotate(-180deg);
        --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
        --bs-accordion-btn-active-icon: url('../public/images/icons/ic-chevron-down-lg-black.svg');
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-body-padding-x: 0;
        --bs-accordion-body-padding-y: 0;
        --bs-accordion-active-color: none;
        --bs-accordion-active-bg: none;

        @include bp(md-max) {
            --bs-accordion-btn-icon-width: 18px;
        }

        .accordion-item {
            display: flex;
            align-items: flex-start;
            padding: 40px 0;
            border-left: 0;
            border-right: 0;

            @include bp(xxl-max) {
                display: block;
                padding: 30px 0;
            }

            @include bp(lg-max) {
                padding: 24px 0;
            }

            .accordion-header {
                flex-grow: 1;

                &:has([aria-expanded="true"]) {
                    width: auto;
                }

                .accordion-button {
                    min-width: 620px;
                    gap: 12px;
                    justify-content: flex-end;
                    flex-direction: row-reverse;
                    font-family: Aston Martin Flare;
                    font-size: 40px;
                    line-height: 55px;
                    letter-spacing: -0.01em;
                    @extend .am;
                    box-shadow: none;

                    @include bp(xxl-max) {
                        font-size: 32px;
                        line-height: 44px;
                    }

                    @include bp(lg-max) {
                        font-size: 30px;
                        line-height: 42px;
                        min-width: auto;
                    }

                    @include bp(md-max) {
                        font-size: 26px;
                        line-height: 36px;
                        gap: 16px;
                    }

                    &::after {
                        width: 24px;
                        height: 24px;
                        border: 0;
                        margin-left: 0;

                        @include bp(md-max) {
                            width: 18px;
                            height: 18px;
                        }
                    }

                    :not(.collapsed) {
                        box-shadow: none;
                    }
                }
            }

            .accordion-collapse {
                position: relative;
                flex-grow: 1;
                flex-shrink: 0;
                flex-basis: calc(100% - 620px);

                .accordion-body {

                    @include bp(xxl-max) {
                        padding: 20px 38px 0;
                    }

                    @include bp(lg-max) {
                        padding: 10px 38px 0;
                    }

                    @include bp(md-max) {
                        padding: 10px 36px 0;
                    }

                    .specs-lisitng {
                        @extend .subtitle2;
                        color: $Neutral100;
                        max-width: 620px;

                        li+li {
                            margin-top: 12px;

                            @include bp(lg-max) {
                                margin-top: 8px;
                            }
                        }
                    }

                    .specs-para {
                        @extend .subtitle2;
                        color: $Neutral100;
                        max-width: 620px;
                    }
                }
            }

        }
    }
}

// stpper
.stepper-wrapper {
    height: 36px;
    overflow: hidden;

    .stepper {
        display: flex;
        align-items: center;
        gap: 8px;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;

        li {
            display: flex;
            align-items: center;
            gap: 8px;

            &:not(:last-child) {
                padding-right: 56px;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                color: $Neutral70;
                position: relative;

                &::before {
                    content: '';
                    width: 40px;
                    height: 1px;
                    background-color: $Neutral10;
                    position: absolute;
                    top: calc(50% - 0.5px);
                    right: 0;
                }
            }

            .i {
                display: inline-flex;
                align-items: center;
                justify-content: center;
                font-size: 16px;
                font-weight: 500;
                line-height: 24px;
                width: 32px;
                height: 32px;
                min-width: 32px;
                border-radius: 50%;
                background-color: $Neutral10;
            }

            &.active {
                color: $Neutral100;

                .i {
                    background-color: $Neutral100;
                    color: $White;
                }
            }

            &.done {
                color: $Primary50;

                .i {
                    background-color: $Primary50;
                    color: $White;
                }
            }
        }
    }
}

// Btn Group
.btn-group {
    &.toggle-radio {
        display: flex;
        flex-direction: column;
        gap: 32px;

        .btn-check:checked+.mirror-card {
            background: $Primary50;
            color: $White;

            .highlighted {
                color: rgba($color: $White, $alpha: 0.05);
            }

            &:hover {
                .highlighted {
                    color: rgba($color: $White, $alpha: 0.05);
                }
            }
        }

        .mirror-card {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 44px 32px;
            position: relative;
            border-radius: 4px !important;
            box-shadow: 0px 1px 3px 0px #12121233, 0px -1px 0px 0px #12121214 inset, 0px 1px 0.5px 0px #FFFFFF1F inset;
            backdrop-filter: blur(70px);
            background: #EDEDED;
            overflow: hidden;
            border: 0;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            @extend .am-medium;
            transition: all 250ms ease-in-out;
            color: $Black;

            &:hover {
                color: $Primary50;

                .highlighted {
                    color: rgba($color: $Primary50, $alpha: 0.2);
                }
            }

            .highlighted {
                position: absolute;
                top: 50%;
                transform: translate(0, -50%);
                left: 100%;
                margin-left: -174px;
                font-size: 96px;
                line-height: 120px;
                color: $Neutral10;
                @extend .am-bold;
                font-weight: 700;
                text-transform: uppercase;
                white-space: nowrap;
                z-index: -1;
            }
        }
    }

    &.toggle-chips {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 12px;

        .btn-check:checked+.toggle-button {
            background: $Primary50;
            color: $White;
        }

        .toggle-button {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 8px 20px;
            border-radius: 2px !important;
            box-shadow: 0px 1px 2px 0px rgba(0, 64, 58, 0.04), 0px -1px 0px 0px rgba(0, 64, 58, 0.03) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
            background: $Neutral5;
            max-width: 104px;
            border: 0;
            font-size: 16px;
            line-height: 24px;
            @extend .am-sans;
            color: $Primary50;
            transition: all 250ms ease-in-out;

            &:hover {
                background: #E3F1F0;
            }

            sup {
                display: inline-block;
                font-size: 10px;
                line-height: 14px;
                text-transform: uppercase;
                margin: 0 3px -8px;
            }
        }
    }
}

// React Inline Datepicker
.react-datepicker {
    @extend .am-sans;
    position: relative;
    background-color: transparent;
    color: $Neutral100;
    border-radius: 0;
    line-height: initial;

    &.inline-datepicker {
        border: 0;
        max-width: 565px;
        margin: 0 auto;

        .react-datepicker__month-container {
            width: 100%;

            .react-datepicker__header {
                background: transparent;
                border-radius: 0;
                padding: 0;
                border: 0;

                .custom-header {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    max-width: 420px;
                    margin: 10px auto;

                    .month_name {
                        font-size: 20px;
                        line-height: 24px;
                        color: $Neutral100;
                    }
                }

                .react-datepicker__day-names {
                    margin: 0 0 10px;
                }

                .btn-icon {
                    box-shadow: 0px 1px 1px 0px #000e330d !important;
                    background: $White;
                    width: 48px;
                    height: 48px;
                    min-height: 48px;
                    flex-shrink: 0;
                    border: 0;

                    img {
                        width: 32px;
                        height: 32px;
                    }

                    &:hover {
                        background: rgba($color: $Primary50, $alpha: 0.1);
                    }

                    &:first-child {
                        margin-right: auto;
                    }

                    &:last-child {
                        margin-left: auto;
                    }
                }
            }

            .react-datepicker__month {
                margin: 0;
            }

            .react-datepicker__day-name,
            .react-datepicker__day,
            .react-datepicker__time-name {
                width: 70px;
                height: 32px;
                margin: 5px;
                border-radius: 2px;
                color: $Primary50;
                font-size: 14px;
                line-height: 32px;
                background: $Neutral5;
                box-shadow: 0px 1px 2px 0px rgba(0, 64, 58, 0.04), 0px -1px 0px 0px rgba(0, 64, 58, 0.03) inset, 0px 1px 2px 0px rgba(255, 255, 255, 0.3) inset;
                transition: all 200ms ease-in-out;

                @include bp(xxl-max) {
                    width: 67px;
                }

                &.react-datepicker__day:not(.react-datepicker__day--outside-month):not(.react-datepicker__day--weekend):hover {
                    background: $Primary50;
                    color: $White;
                }

                &.react-datepicker__day--weekend {
                    background: #E3F1F0;
                    pointer-events: none;
                }

                &.react-datepicker__day--outside-month {
                    background: none;
                    box-shadow: none;
                    font-size: 0;
                    pointer-events: none;
                }

                &.react-datepicker__day--keyboard-selected {
                    background: $Primary50;
                    color: $White;
                }
            }

            .react-datepicker__day--today,
            .react-datepicker__month-text--today,
            .react-datepicker__quarter-text--today,
            .react-datepicker__year-text--today {
                border-color: $Primary50;
                font-weight: 400;
            }

            .react-datepicker__day-name {
                font-size: 0;
                position: relative;
                background: none;
                box-shadow: none;
                border-color: transparent !important;
                vertical-align: middle;
                height: 22px;
                margin: 0 5px;

                &::after {
                    font-size: 16px;
                    line-height: 24px;
                    color: $Black;
                    @extend .am-sans;
                }

                &[aria-label="Sunday"]::after {
                    content: "Sun";
                }

                &[aria-label="Monday"]::after {
                    content: "Mon";
                }

                &[aria-label="Tuesday"]::after {
                    content: "Tue";
                }

                &[aria-label="Wednesday"]::after {
                    content: "Wed";
                }

                &[aria-label="Thursday"]::after {
                    content: "Thu";
                }

                &[aria-label="Friday"]::after {
                    content: "Fri";
                }

                &[aria-label="Saturday"]::after {
                    content: "Sat";
                }

                &[aria-label="Sunday"]::after {
                    content: "Sun";
                }
            }
        }
    }
}


/* Responsive Media Query
--------------------------------------------------------------------------------------------------------------------*/
@media(max-width: 1199px) {}

@media(max-width: 991px) {}