$White: #FFFFFF;
$Black: #000000;

$Neutral10: #E2E4E4;
$Neutral20: #C5C9C9;
$Neutral30: #ADAFAF;
$Neutral40: #949696;
$Neutral50: #7D7E7E;
$Neutral60: #656666;
$Neutral70: #4F5050;
$Neutral90: #252525;
$Neutral100: #121212;

$Primary10: #67B8AF;
$Primary50: #00665E;
$Primary80: #014C47;

$Bg10: #F4F4F2;
$Bg20: #F7F8F4;